.speech-bubble {
	position: relative;
	background: #45D994;
	border-radius: .4em;
	margin: auto;
	width: 30%;
	max-height: 300px;
	max-width: 300px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-top-color: #45D994;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
}

/** Adding */
.game-container {
	background-image: url(./assets/img/bgGame.png);
	background-size: cover;
	background-position: top;
	height: 100vh;
	font-family: 'gameOanTuTi';
}

@font-face {
	font-family: 'gameOanTuTi';
	src: url(./assets/font/Pony.ttf);
}

.game-container h2 {
	padding: 30px 0;
	color: #fea403;
}

.game-container h3 {
	padding-bottom: 20px;
	color: #6aec71;
}

.btnSelect {
	border: 5px solid;
	padding: 10px 0px;
	max-height: 30%;
}

.btnSelect:hover {
	border-color: #f5a407;
}